{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}



	
	<!-- ========== SECCION 1 ========== -->
	<section id="about" name="about"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				
				
				<!-- INTRO INFORMATIO-->
				<div class="col-lg-6 col-lg-offset-3">

                    <h1> Accesos </h1>
                    <p> </p>
					{% if not request.user.is_authenticated %}
					<a href="{% url 'List' %}"> Listado de Publicaciones (Vistas Basadas en Clases - Free access)</a>
                    <p> </p>
					<a href="{% url 'Login' %}" > Login usuarios existentes </a></a>
                    <p> </p>
                    <a href="{% url 'Register' %}" > Creacion de nuevo usuario </a></a> 
					<p> </p>
					<a href="{% url 'Receta' %}" > Receta XD no puede faltar </a>
					{% endif %}
					{% if request.user.is_authenticated %}
                    <a href="{% url 'LeerPublicaciones' %}" > Listado para Editar y Eliminar Publicaciones</a>
                    <p>  </p>
                    <a href="{% url 'List' %}"> Listado de Publicaciones (Vistas Basadas en Clases - Free access)</a>
                    <p> </p>
                    <a href="{% url 'FormularioPublicacion' %}" > Formulario Nueva Publicacion </a></a>
                    <p> </p>
                    <a href="{% url 'Register' %}" > Creacion de nuevo usuario </a></a> 
					<p> </p>
					<a href="{% url 'Receta' %}" > Receta XD no puede faltar </a>
					{% endif %}

                
					
				</div>								
			</div>
		</div><!-- /container -->
	</div><!-- /f -->
	


	<!-- ========== SECCION CONTACTO ========== -->
	<section id="contact" name="contact"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				<h3>Contacto</h3>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
				
				<div class="col-lg-6 col-lg-offset-3">
					<p>Algun lugar<br/>Pinamar, Buenos Aires<br/>+34 622 232 404</p>
					<p>algunmail@dehotmail.com</p>
					<p><button type="button" class="btn btn-warning">YEAH! CONTACT ME NOW!</button></p>
				</div>
			</div>
		</div>
	</div>







{% endblock %}