{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

	<!-- ========== SECCION 1 ========== -->
	<section id="about" name="about"></section>
	<div id="f">
		<div class="container">
			<div class="row">
				<h3>Listado de Publicaciones</h3>
				<p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
				
				<!-- INTRO INFORMATIO-->
				<div class="col-lg-6 col-lg-offset-3">

                    {% for x in publicaciones %}

                         <li> {{ x }}</li>
                         <button> 
                             <a href="{% url 'EliminarPublicacion' x.titulo %}"> Eliminar </a>
                             <a href="{% url 'EditarPublicacion' x.titulo %}"> Editar </a>
                         </button>

                    {% endfor %}

                    <p> </p>

                    <a href="{% url 'FormularioPublicacion' %}" > Agregar otra publicacion </a>

				</div>								
			</div>
		</div><!-- /container -->
	</div><!-- /f -->




{% endblock %}