{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


<h3> Receta de Falafel </h3>
<p> Ingredientes para 1 docena
    1 taza de garbanzos cocidos (puede ser 1 lata)
    1 cebolla de verdeo
    1 manojo de cilantro
    1/2 taza de harina
    1 diente de ajo
    1 limón
    Pan rallado
    1 pizca de comino
    Aceite, sal y pimienta
    
    Receta de falafel en 4 pasos
    así de fácil es hacerlos
    Colocar los garbanzos sobre una tabla de picar o plato y pisarlos con un tenedor o pisapuré. ¿Puede hacerse con minipimmer, Paulina? Claro que sí, Marta. Pero a mí me gusta mucho más así, que se te cuelan unos trocitos menos pisados que otros y queda con una textura muy rica.
    Picar el cilantro, el ajo y la cebolla de verdeo. Agregar los garbanzos pisados, sal, pimienta y comino. Mezclar bien.
    Agregar el jugo de limón y la harina. Unir bien y amasar con las manos hasta que te quede una masa.
    Formá las bolitas de falafel (más o menos del tamaño que hacés las albóndigas) y pasalas por pan rallado. Es importante que cuando hagas las bolitas aprietes un poco la masa con las manos para que quede compacta, sino se desarmará en la cocción y chau receta de falafel.5. Freí el falafel en abundante aceite caliente, que quede dorado por todas partes. Paulina, ¿se pueden hacer al horno que no quiero comer frito? Sí, Marta, claro. Me los rociás con un poco de aceite porque sino no te quedarán dorados. ¡Y listo! Ya terminaste con tu receta de falafel y sos re feliz
    </p>
    <img class="img-responsive" src="{% static 'Login/assets/img/receta.jpeg' %}" alt="" >

{% endblock %}